<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меры поддержки</title>
</head>
<body>
    <h1>Меры поддержки</h1>
    <h2>Федеральные меры:</h2>
    <ul>
        <li><a href="{{ federal_url }}" target="_blank">Поддержка IT-отрасли - Госуслуги</a></li>
    </ul>

    <h2>Региональные меры:</h2>
    <ul>
        <li><a href="{{ regional_url }}" target="_blank">Меры поддержки проектов - Ханты-Мансийск</a></li>
    </ul>
</body>
</html>
